<form (ngSubmit)="onSubmitEvent()" [formGroup]="eventForm">
  <div>
    <mat-form-field>
      <mat-label>Lunar Name</mat-label>
      <input formControlName="lunar" matInput type="text">
      <mat-error>Lunar name required</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Moon</mat-label>
      <mat-select formControlName="moon" placeholder="Role">
        <mat-option *ngFor="let moon of moons" [value]="moon.id">
          {{moon.name}}
        </mat-option>
      </mat-select>
      <mat-hint>There can be only 1 full moon and 1 dead moon in a month</mat-hint>
    </mat-form-field>
  </div>

  <br>

  <div formArrayName="events">
    <div class="event" [formGroupName]="i" *ngFor="let event of eventForm.get('events')['controls']; let i = index; first as isFirst">
      <mat-form-field>
        <mat-label>Event Name</mat-label>
        <input formControlName="name" matInput type="text">
        <mat-error>Event name required</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Event Description (Optional)</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>

      <!-- <mat-icon *ngIf="eventForm.get('events')['controls'].length > 1" matTooltip="Delete Event" (click)="removeFormArray(i)" class="trash">close</mat-icon> -->
      <mat-icon matTooltip="Delete Event" (click)="removeFormArray(i)" class="trash">close</mat-icon>
    </div>
    <div *ngIf="!loader" style="text-align: center">
      <button type="button" (click)="onAddNewEvent()" color="warn" mat-raised-button>
        Add New Event
      </button>
      &nbsp;
      <button type="submit" color="primary" mat-raised-button>
        Save Event
      </button>
    </div>

    <div *ngIf="loader">
      <app-spinner></app-spinner>
    </div>
  </div>
</form>
