form {
  display: flex;
  flex-wrap: wrap;
}

mat-form-field {
  width: 310px;
  margin-bottom: .7rem;
  padding: 0 1rem;
}

.full {
  width: 100%;
}

.btn-container {
  text-align: center;
  width: 100%;
}

mat-icon {
  cursor: pointer;
}