<div *ngIf="user" class="wrapper">
  <div class="div-wrap" *ngFor="let key of objectKeys(user); let i = index">
    <span class="left">{{key.split('_').join(' ') | titlecase}}</span>
    <span class="right" *ngIf="key != 'date_of_birth' && key != 'username' && key != 'remark' && key != 'email'">: {{user[key] | titlecase}}</span>
    <span class="right" *ngIf="key == 'username' || key == 'remark' || key == 'email'">: {{user[key]}}</span>
    <span class="right" *ngIf="key == 'date_of_birth'">: {{ user[key] | date }}</span>
  </div>
</div>