button {
  line-height: 25px;
  font-size: 12px;
  margin: 0px 5px;
}

.cursor {
  cursor: pointer;
}

.title-calendar {
  font-size: 16px; padding-left: 1rem; font-weight: bold;
}

.wrapper-back {
  display: flex; align-items: center; justify-content: baseline;
}
