<div class="form-wrapper">
  <form [formGroup]="formBanner" (ngSubmit)="onEditBanner()">
    <div>
      <mat-form-field>
        <mat-select formControlName="province" placeholder="Province">
          <mat-option *ngFor="let province of provincies" [value]="province.id">
            {{province.name | titlecase}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formBanner.get('province').hasError('required')">Province required</mat-error>
        <mat-error *ngIf="formBanner.get('province').hasError('province')">{{formBanner.get('province').errors['province']}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input type="text" matInput formControlName="title" placeholder="Title">
        <mat-error *ngIf="formBanner.get('title').hasError('required')">Title required</mat-error>
        <mat-error *ngIf="formBanner.get('title').hasError('title')">{{formBanner.get('title').errors['title']}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input type="text" matInput formControlName="subtitle" placeholder="Subtitle">
        <mat-error *ngIf="formBanner.get('subtitle').hasError('required')">Subtitle required</mat-error>
        <mat-error *ngIf="formBanner.get('subtitle').hasError('subtitle')">{{formBanner.get('subtitle').errors['subtitle']}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Content"></textarea>
        <mat-error *ngIf="formBanner.get('description').hasError('required')">Content required</mat-error>
        <mat-error *ngIf="formBanner.get('description').hasError('description')">{{formBanner.get('description').errors['description']}}</mat-error>
      </mat-form-field>
    </div>

    <div class="wrapper-upload">
      <button type="button" color="primary" mat-raised-button (click)="fileInput.click()">
        <span style="font-size: 12px">Upload Bulletin</span>
      </button>
      <input hidden accept="image/png, image/gif, image/jpeg" (change)="onChangeFile($event.target.files, $event)" #fileInput type="file" id="file">
      <span class="img" *ngIf="imageShow">
        <br>
        <img [src]="imageShow" alt="">
        <br>
        <!-- <mat-icon matTooltip="Delete Image" (click)="onDelete()">delete</mat-icon> -->
      </span>
    </div>
    <br>
    <div>
      <mat-form-field>
        <mat-select formControlName="status" placeholder="Status">
          <mat-option *ngFor="let status of statuses" [value]="status.id">
            {{status.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formBanner.get('status').hasError('required')">Status required</mat-error>
        <mat-error *ngIf="formBanner.get('status').hasError('status')">{{formBanner.get('status').errors['status']}}</mat-error>
      </mat-form-field>
    </div>

    <div class="btn-container">
      <ng-container *ngIf="!loader">
        <button type="button" (click)="onCloseDialog()" mat-raised-button color="warn">
          Close
        </button>
        &nbsp;
        <button type="submit" [disabled]="formBanner.invalid" mat-raised-button color="primary">
          Save
        </button>
      </ng-container>
      <app-spinner [loader]="loader" [diameter]="20"></app-spinner>
    </div>
  </form>
</div>
