<div class="form-wrapper">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
    <div>
      <mat-form-field>
        <input [type]="typePassword" matInput formControlName="password" placeholder="Password">
        <mat-icon (click)="onToggle('eyePassword', 'typePassword')" matSuffix>{{eyePassword}}</mat-icon>
        <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">Password required</mat-error>
        <mat-error *ngIf="changePasswordForm.get('password').hasError('minlength')">Password min 8 characters</mat-error>
        <mat-error *ngIf="changePasswordForm.get('password').hasError('password')">{{changePasswordForm.get('password').errors['password']}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input [type]="typeConfirmPassword" matInput formControlName="confirmation_password" placeholder="Confirmation Password">
        <mat-icon (click)="onToggle('eyeConfirmPassword', 'typeConfirmPassword')" matSuffix>{{eyeConfirmPassword}}</mat-icon>
        <mat-error *ngIf="changePasswordForm.get('confirmation_password').hasError('required')">Confirmation password required</mat-error>
        <mat-error *ngIf="changePasswordForm.get('confirmation_password').hasError('minlength')">Confirmation password min 8 characters</mat-error>
        <mat-error *ngIf="changePasswordForm.get('confirmation_password').hasError('confirmation_password')">{{changePasswordForm.get('confirmation_password').errors['confirmation_password']}}</mat-error>
      </mat-form-field>
    </div>

    <div class="btn-container">
      <ng-container *ngIf="!loader">
        <button type="button" [mat-dialog-close]="false" mat-raised-button color="warn">
          Close
        </button>
        &nbsp;
        <button type="submit" [disabled]="changePasswordForm.invalid" mat-raised-button color="primary">
          Save
        </button>
      </ng-container>
      <app-spinner [loader]="loader" [diameter]="20"></app-spinner>
    </div>
  </form>
</div>