<ng-container *ngIf="calendar">
  <div class="wrapper-calendar">
    <mat-icon routerLink="/home/calendar" class="cursor">keyboard_backspace</mat-icon>
    <div class="title-calendar">
      <span>{{calendar.name | uppercase}}</span>
      <span>{{calendar.status == 1 ? ' (Active)' : ' (Not Active)'}}</span>
    </div>
    <span class="example-spacer"></span>
    <span>
      <span class="box box1"></span>
      <span>Weekend</span>
    </span>
    <span>
      <span class="box box2"></span>
      <span>Event</span>
    </span>
    <span>
      <span class="box box3"></span>
      <span>Weekend & Event</span>
    </span>
  </div>
  <div class="calendar">
    <div
      fxFlex.xs="100"
      fxFlex.sm="48"
      fxFlex.md="45"
      fxFlex.lg="30"
      class="month"
      *ngFor="let month of objectKeys(calendar.calendar)"
    >
      <p class="bold">
        {{months[month - 1]}}
      </p>

      <span *ngIf="emptyDay[month - 1] && emptyDay[month - 1].length > 0">
        <span class="day" *ngFor="let i of emptyDay[month - 1]"></span>
      </span>
      <span
        class="day"
        (click)="onOpenFormEvent(calendar, month, day)"
        [ngClass]="{ isEvent: calendar.calendar[month][day].events.length > 0 }"
        appWeekend
        [year]="calendar.year"
        [month]="month"
        [day]="day"
        [event]="calendar.calendar[month][day].events.length"
        *ngFor="let day of objectKeys(calendar.calendar[month])"
      >
        <span [matTooltip]="calendar.calendar[month][day].events.length <= 1 ? calendar.calendar[month][day].events.length + ' event' : calendar.calendar[month][day].events.length + ' events'">
          {{day}}
        </span>
        <br>
        <small [matTooltip]="calendar.calendar[month][day].lunar">{{calendar.calendar[month][day].lunar.slice(0, 3)}}</small>
      </span>
    </div>
  </div>
</ng-container>
